<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      Assignment Details
    </div>
    <div class="card-body">
      <p class="card-text">Employee ID: <%= @assignment.employee.name %></p>
      <p class="card-text">Project ID: <%= @assignment.project.title %></p>
      <p class="card-text">Hours Worked <%= @assignment.hours_worked %></p>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <%= link_to edit_assignment_path(@assignment), class: "btn mr-2" do %>
        <i class="fas fa-edit"></i> Edit
      <% end %>
      <%= button_to assignment_path(@assignment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </div>
  </div>
</div>