<div class="container">
  <%= form_for @project do |f| %>

    <%= render "shared/error_messages", object: @project %>

    <h2 class="text-center mb-4">Project Form (ID: <%= @project.id %>)</h2>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="page-section">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :title, "Title", class: "label required" %>
                <%= f.text_field :title, autocomplete: :off, class: "form-control", placeholder: "Enter Title", required: true %>
              </div>
            </div>

            <div class="col-md-6 mb-2 mt-2">
              <div class="form-group">
                <%= label_tag "Employees" %>
                <div class="checkbox-dropdown">
                  <div class="checkbox-dropdown-toggle">
                    <span class="selected-items">Select some options</span>
                    <span><i class="fas fa-caret-down ps-4"></i></span>
                  </div>
                  <div class="checkbox-dropdown-menu">
                    <input type="text" id="searchInput" class="checkbox-item" placeholder="Search">
                    <div id="checkboxList">
                      <% Employee.all.each do |emp| %>
                        <label class="checkbox-item">
                          <%= check_box_tag "project[employee_ids][]", emp.id, false %><%= emp.name %>
                          <span class="checkmark"></span>
                        </label>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :start_date, "Start Date", class: "label" %>
                <%= f.date_field :start_date, value: @project.start_date, class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :end_date, "End Date", class: "label" %>
                <%= f.date_field :end_date, value: @project.end_date, class: "form-control" %>
              </div>
            </div>


            <div class="col-md-12 mt-2">
              <%= f.button "Save", class: "btn btn-primary", data: { disable_with: "Please Wait.." } do %>
                <span class="fas fa-save"></span> Save
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<%= javascript_tag nonce: true do -%>
    $(document).ready(function() {

      var dropdownMenu = $(this).find('.checkbox-dropdown-menu');
      var dropdownToggle = $(this).find('.checkbox-dropdown-toggle');
      var dropdownArrow = $(this).find('.arrow.fs-arrow');

      dropdownToggle.click(function() {
        dropdownMenu.toggleClass('show');
        dropdownArrow.toggleClass('show');
      });

      $(document).click(function(event) {
        if (!$(event.target).closest('.checkbox-dropdown').length) {
          dropdownMenu.removeClass('show');
        }
      });

      $(this).find('#searchInput').keyup(function() {
        var searchValue = $(this).val().toLowerCase();
        $('#checkboxList .checkbox-item').each(function() {
          var checkboxLabel = $(this).text().toLowerCase();
          if (checkboxLabel.includes(searchValue)) {
            $(this).show();
          }
          else {
            $(this).hide();
          }
        });
      });

      $(this).find('.checkbox-dropdown-menu input[type="checkbox"]').change(function() {
        var selectedItems = [];
        $(this).closest('.checkbox-dropdown-menu').find('input[type="checkbox"]:checked').each(function() {
          selectedItems.push($(this).parent().text().trim());
        });

        var selectedItemsText = '';

        if (selectedItems.length > 3) {
          selectedItemsText = selectedItems.length + ' selected';
        }
        else if(selectedItems.length > 0) {
          selectedItemsText= selectedItems.join(', ');
        }
        else {
          selectedItemsText = "Select some options"
        }
        $('.selected-items').text(selectedItemsText);
      });

      $(this).find('.checkbox-dropdown-menu input[type="checkbox"]').trigger('change');

    })

<% end %>