<div class="container">
  <h2 class="text-center mb-4">Project Management</h2>

  <div class="col text-right mb-2">
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title mb-0">DESheets/Projects</h5>
        </div>
        <div>
          <%= link_to "Create Project", new_project_path(@project), class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-default table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Assigned Employees</th>
        <th>Total hours worked</th>
        <th class="d-flex justify-content-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.id, project_path(project.id), class: "text-decoration-none" %></td>
          <td><%= project.title %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td>
            <% project.employees.each do |emp| %>
              <%= emp.name %> ( hours: <%= emp.assignments.where(project_id: project.id).first.hours_worked %> )
              <br>
            <% end%>
          </td>
          <td><%= project.assignments.sum(&:hours_worked) if project.assignments.present? %></td>
          <td class="d-flex justify-content-center">
            <%= link_to edit_project_path(project.id), class: "btn mr-2" do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
            <%= button_to project_path(project.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" do %>
              <i class="fas fa-trash-alt"></i> Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
